In [1]:
import os
import pandas as pd
import plotly.express as px
import plotly.offline as pyo

df = pd.read_csv('gdp.csv')

final_data = []

for country_name in df['Country Name'].unique():
    df_pr = df[df['Country Name'] == country_name]
    data = df_pr.values
    gdp_change = [0]

    for i in range(1,len(data)):
        prev = data[i-1][3]
        cur = data[i][3]
        gdp_change.append(round(((cur - prev) / prev)*100,2))

    df_pr = df_pr.assign(GDP = gdp_change)
    final_data.append(df_pr)
    
df = pd.concat(final_data, axis = 0)

df.head()

  Country Name Country Code  Year         Value    GDP
0   Arab World          ARB  1968  2.576068e+10   0.00
1   Arab World          ARB  1969  2.843420e+10  10.38
2   Arab World          ARB  1970  3.138550e+10  10.38
3   Arab World          ARB  1971  3.642691e+10  16.06
4   Arab World          ARB  1972  4.331606e+10  18.91

## GDP Growth Comparison between Specific Countries

import plotly.offline as pyo
import plotly.express as px
import pandas as pd
import re

def sanitize_filename(filename):
    """Replace invalid characters in filenames with underscores."""
    return re.sub(r'[<>:"/\\|?*\x00-\x1F]', '_', filename)

def compare_gdp(lst, isOpen):
    """Generate and save a GDP comparison plot for the given list of country codes.
    
    Args:
        lst (list): List of country codes to compare.
        isOpen (bool): Whether to open the plot in the browser automatically.
    """
    dfs = []
    for i in lst:
        dfs.append(df[df['Country Code'] == i])
    
    # Concatenate all DataFrames
    df_pr = pd.concat(dfs, axis=0)
    
    # Create the plot
    fig = px.line(df_pr, x='Year', y='Value', title='GDP Comparison - ' + '|'.join(lst), color='Country Name')
    
    # Sanitize the filename and save the plot
    filename = sanitize_filename('|'.join(lst) + '.html')
    pyo.plot(fig, filename=filename, auto_open=isOpen)
    
# Example usage
compare_gdp(['IND', 'USA', 'ITA', 'CHN'], True)

## GDP Growth Comparies of All the Countries

In [6]:
fig = px.line(df, x = 'Year', y = 'GDP', title = 'GDP Comparison', color = 'Country Name')
pyo.plot(fig, filename = 'GDP Growth.html', auto_open = True)

'GDP Growth.html'

## GDP Growth of All Countries Graph Individual

In [7]:
os.mkdir('GDP Growth Individual')

for country_name in df['Country Code'].unique():

    df_pr = df[df['Country Code'] == country_name]

    fig = px.line(df_pr, x = 'Year', y = 'GDP', title = country_name)
    pyo.plot(fig, filename = 'GDP Growth Individual/' + country_name + '.html', auto_open = False)

## GDP Growth between 1960 - 2016

In [9]:
dfs = []

for country_name in df['Country Name'].unique():
    df_pr = df[df['Country Name'] == country_name]
    
    if (len(df_pr) == 57):
        dfs.append(df_pr)
        
df_pr = pd.concat(dfs, axis = 0)
df_pr

                 Country Name Country Code  Year         Value    GDP
49     Caribbean small states          CSS  1960  2.004785e+09   0.00
50     Caribbean small states          CSS  1961  2.169733e+09   8.23
51     Caribbean small states          CSS  1962  2.289495e+09   5.52
52     Caribbean small states          CSS  1963  2.431592e+09   6.21
53     Caribbean small states          CSS  1964  2.626896e+09   8.03
...                       ...          ...   ...           ...    ...
11502                Zimbabwe          ZWE  2012  1.424249e+10  17.72
11503                Zimbabwe          ZWE  2013  1.545177e+10   8.49
11504                Zimbabwe          ZWE  2014  1.589105e+10   2.84
11505                Zimbabwe          ZWE  2015  1.630467e+10   2.60
11506                Zimbabwe          ZWE  2016  1.661996e+10   1.93

[6840 rows x 5 columns]

In [10]:
fig = px.line(df_pr, x = 'Year', y = 'GDP', title = 'GDP Growth', color = 'Country Name')

pyo.plot(fig, filename = 'GDP Growth.html', auto_open = True)

'GDP Growth.html'